* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    transition: background-color 0.3s ease;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    padding-bottom: 20px;
    box-shadow: 0px 3px 5px black;
}

.mdkue {
    margin-top: 200px;
    font-family: sans-serif;
    width: 100%;
    display: flex;
    justify-content: center;
}

.container {
    text-align: center;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 20px;
    align-items: center;
    width: 500px;
}

.btn {
    width: 40%;
    padding: 10px 20px;
    font-size: 20px;
    background: #222;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background: #444;
}

.colorFlipper {
    display: flex;
    font-family: sans-serif;
    font-weight: 500;
    color: #ffffff;
    font-size: 23px;
}

.bttns {
    display: flex;
    gap: 40px;
}

.simpleAndHex {
    cursor: pointer;
    font-family: sans-serif;
    background-color:  rgba(255, 255, 255, 0);
    color:  white;
    font-weight: 500;
    border: none;
    font-size: 20px;
}

.simpleAndHex:hover {
   color: #afafaf;
}